#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#eb {
    list-style-type: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-right-style: 50px;
}

#appspng {
    width: 20px;
    height: 20px;
}